<div class="women-swimwear">
  <ul>
    <li class="b-vertty" style="background: url({{ 'bg_vertty.jpg' | asset_url }}) center no-repeat;">
      <a href="/products/bikini-shape"><span>Shape</span></a>
    </li>
    <li class="b-sport" style="background: url({{ 'bg_sport.jpg' | asset_url }}) center no-repeat;">
      <a href="/products/bikini-sport"><span>Sport</span></a>
    </li>
    <li class="b-tryangle" style="background: url({{ 'bg_tryangle.jpg' | asset_url }}) center no-repeat;">
      <a href="/products/bikini-tryangle"><span>Tryangle</span></a>
    </li>
    <li class="b-trykini" style="background: url({{ 'bg_trykini.jpg' | asset_url }}) center no-repeat;">
      <a href="/products/trykini"><span>Trykini</span></a>
    </li>
  </ul>
</div>