<div class="products-mobile">
    <ul>
        <li>
            <a href="/products/classic-towel">
                <div><span class="product-icons i-towel"></span> Beach Towel</div>
            </a>
        </li>
        <li>
            <a href="/pages/women-swimwear">
                <div><span class="product-icons i-w-swimwear"></span>Women's Swimwear</div>
            </a>
        </li>
        <li>
            <a href="/products/backpack">
                <div><span class="product-icons i-backpack"></span>Backpack</div>
            </a>
        </li>
    </ul>
</div>

<style>
    .products-mobile {
      padding: 80px 0;
    }
    .products-mobile .product-icons.i-towel {
      background-position: 35px 19px;
    }
    .products-mobile .product-icons.i-backpack {
      background-position: 39px -199px;
    }
    .products-mobile .product-icons.i-m-swimwear {
      background-position: -187px -192px;
    }
    .products-mobile .product-icons.i-w-swimwear {
      background-position: -185px -195px;
    }
    .products-mobile .product-icons {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 200px;
      height: 200px;
      background-size: 437px auto;
    }
    .products-mobile li a {
        display: block;
        margin: 30px 0;
        text-decoration: none;
    }
    .products-mobile li a div {
        text-align: center;
        font: 15px "BariolRg", sans-serif;
        letter-spacing: 6px;
        color: #313131;
    }
</style>