<div id="overlay-search" class="_overlay-search">
    <a id="close-search" class="_close-search" href="#">
        <span></span>
    </a>
    <div class="results-cont">
        <form class="form-stores" method="get" action="/search">
            <div class="fixed-search">
                <section class="container">
                    <h2>How can we help you?</h2>
                    <div>
                        <label for="search-portal-input" class="visually-hidden">Search on the website</label>
                        <input id="search-portal-input" required="" placeholder="Search on the website" type="text" autocomplete="off">
                    </div>
                    <div class="arrow-top" style="display:none"></div>
                    <div class="search-error-msg" style="display:none">
                        <span class="i-search-msg"></span>
                        <span class="txt-error">Preencha este campo.</span>
                    </div> 
                </section>            
            </div>
        </form>
    </div>
</div>