/* ==============
LAYOUT: DIVIDERS
================= */

.quote-dividers {
    @include full-relative-w;
    text-align: center;
    background: white;
    
    &.instagram {
        padding: 50px 0 40px 0;
    }
    h3 {
        font: $Bariol12;
        line-height: 17px;
        padding: 50px 0 40px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: black;
    }
}