/* ======================
COMPONENTS: ICONS ASSETS
========================= */

.icons {
    background: url(menu.svg) no-repeat;
}   

.product-icons {
    background: url(sprite_icons.svg) no-repeat;
}   

.v-icons {
    background: url(play_sprite.png) no-repeat;
}