/* ------------
BARIOL REGULAR
--------------- */

$Bariol: 'BariolRg', sans-serif;
$Bariol12: 12px 'BariolRg', sans-serif;
$Bariol14: 14px 'BariolRg', sans-serif;
$Bariol15: 15px 'BariolRg', sans-serif;
$Bariol16: 16px 'BariolRg', sans-serif;
$Bariol18: 18px 'BariolRg', sans-serif;
$Bariol20: 20px 'BariolRg', sans-serif;
$Bariol22: 22px 'BariolRg', sans-serif;
$Bariol24: 24px 'BariolRg', sans-serif;
$Bariol30: 30px 'BariolRg', sans-serif;
$Bariol40: 40px 'BariolRg', sans-serif;
$Bariol50: 50px 'BariolRg', sans-serif;
$Bariol68: 68px 'BariolRg', sans-serif;


/* -----------
BARIOL ITALIC
-------------- */

$BariolIt: 'BariolIt', sans-serif;
$BariolIt18: 18px 'BariolIt', sans-serif;
$BariolIt24: 24px 'BariolIt', sans-serif;
$BariolIt30: 30px 'BariolIt', sans-serif;
$BariolIt40: 40px 'BariolIt', sans-serif;


/* ---------
BARIEL BOLD
------------ */

$BariolBd: 'BariolBd', sans-serif;
$BariolBd10: 10px 'BariolBd', sans-serif;
$BariolBd12: 12px 'BariolBd', sans-serif;
$BariolBd13: 13px 'BariolBd', sans-serif;
$BariolBd14: 14px 'BariolBd', sans-serif;
$BariolBd15: 15px 'BariolBd', sans-serif;
$BariolBd16: 16px 'BariolBd', sans-serif;
$BariolBd18: 18px 'BariolBd', sans-serif;
$BariolBd20: 20px 'BariolBd', sans-serif;
$BariolBd22: 22px 'BariolBd', sans-serif;
$BariolBd24: 24px 'BariolBd', sans-serif;
$BariolBd30: 30px 'BariolBd', sans-serif;
$BariolBd35: 35px 'BariolBd', sans-serif;
$BariolBd40: 40px 'BariolBd', sans-serif;


/* -----------
MEDIA QUERIES
-------------- */

$sizeXL: 1600px;
$sizeL: 1200px;
$sizeM: 992px;
$sizeS: 768px;
$sizeXS: 480px;


/* -----------
COLOR VERTTY 
-------------- */

$blue: #232425;