<div class="women-swimwear">
  <ul>
    <li class="b-vertty">
      <a href="/products/bikini-shape"><span>Shape</span></a>
    </li>
    <li class="b-sport">
      <a href="/products/bikini-sport"><span>Sport</span></a>
    </li>
    <li class="b-tryangle">
      <a href="/products/bikini-tryangle"><span>Tryangle</span></a>
    </li>
    <li class="b-trykini">
      <a href="/products/trykini"><span>Trykini</span></a>
    </li>
  </ul>
</div>