        <div class="main-essence">
            <div class="vertty-about">
                <section class="container">
                    <h2>Reinventing the beatch towel</h2>
                    <span class="hashtag">#Verttytowel</span>
                    <hr>
                    <p>In hac habitasse platea dictumst. Nullam arcu ex, molestie sed tortor eget, rutrum scelerisque diam. Aenean semper augue in dui ultrices, eu aliquam sapien lacinia.</p>
                    <p>San Francisco, California, United States</p>                
                </section>
            </div>
            <svg xmlns="http://www.w3.org/6000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%">
                <defs>
                    <pattern id="image1" patternUnits="userSpaceOnUse" width="596" height="575">
                        <image xlink:href="assets/trama.png" x="0" y="0" width="596" height="575"></image>
                    </pattern>
                </defs>        
                <path class="xl-triangle" d="M0,50 L100,0 100,100 Z" fill="url(#image1)" />
            </svg>  
        </div>