<div class="country-wrap">
    <div class="country-page container">
      <ul>
        <li class="africa">
          <a href="http://us.tryvertty.com/pages/home" onclick="CountryCookie.setCookie('location','Africa',7);"><span>AFRICA</span></a>
        </li>
        <li class="america">
          <a href="http://us.tryvertty.com/pages/home" onclick="CountryCookie.setCookie('location','America',7);"><span>AMERICA</span></a>
        </li>
        <li class="asia">
          <a href="http://www.tryvertty.com/pages/home" onclick="CountryCookie.setCookie('location','Asia',7);"><span>ASIA</span></a>
        </li>
        <li class="europe">
          <a href="https://www.tryvertty.com/pages/home" onclick="CountryCookie.setCookie('location','Europe',7);"><span>EUROPE</span></a>
        </li>
        <li class="oceania">
          <a href="http://au.tryvertty.com/pages/home" onclick="CountryCookie.setCookie('location','Oceania',7);"><span>OCEANIA</span></a>
        </li>
      </ul>
    </div>
</div>