
{% unless page.handle == 'country' %}
    <div id="loader"></div>
    <div id="overlay"></div>
{% endunless %}
    
{% if template == 'page' %}
    {% case page.handle %}
      {% when 'home' %}
            {% include 'home' %} 
      {% when 'products' %}
            {% include 'page-products' %} 
      {% when 'essence' %}
            {% include 'page-essence' %} 
      {% when 'women-swimwear' %}
            {% include 'page-women-swimwear' %} 
      {% when 'community' %}
            {% include 'page-community' %} 
      {% when 'stores' %}
            {% include 'page-store' %}  
      {% when 'help-page' %}
            {% include 'page-help' %}       
      {% else %}
            <p>404.page</p>
    {% endcase %} 
{% endif %}